* {
    outline: 1px solid red;
}

/* Navigation section*/

.navigation {
    background-color: #090909;
    display: flex;
    align-items: center;
    padding: 10Px;
}


.logo {
    align-items: flex-start;
    width: 4%;
    height: 4%;

}

h1 {
    margin-left: 0%;
    font-size: 28px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: #D9D9D9;
}

/* second section*/

.descriptionbox {
    background-color: #232323;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.summary {
    background-color: #232323;
    display: flex;

}


.details {
    background-color: #232323;
    height: 500px;
    width: 39%;
    margin-left: 10%;
    padding: 2%;
}

/* color words  */
.summary h3 {
    font-size: 2vw;
    background: #D4145A;
    background: linear-gradient(to left, #D4145A 0%, #FBB03B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.summary h4 {
    font-size: 1vw;
    color: #D9D9D9;
}


.heart {
    display: flex;
    align-items: flex-end;

}

.heart p {

    color: rgb(229, 79, 129);
    font-size: xx-large;
}

.profilepic {
    background-color: #232323;
    width: 100%;
    height: auto;
}


/* box  section*/

.body {
    background-color: #3D3D3D;
}

.outterbox {
    display: grid;
    width: 100%;
    max-width: 1200px;
    height: 900px;
    margin: 0 auto;
    background-color: #3D3D3D;
}



.box-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000%;
    background-color: #3D3D3D;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    background-color: #a36565;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.box1 {
    background-color: #F3C033;
    position: relative;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.box2 {
    background-color: #EB43AD;
    position: relative;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.box3 {
    background-color: #34C3F1;
    position: relative;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.box4 {
    background-color: #1EC46E;
    position: relative;
    width: 350px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



.box1 h2,
.box2 h2,
.box3 h2,
.box4 h2 {
    margin-bottom: 10px;
    margin-left: 15%;
    color: #FFFFFF;
    font-family: sans-serif;
}

.box1 p,
.box2 p,
.box3 p,
.box4 p {
    margin: 0;
    margin-top: 77%;
    color: #FFFFFF;
}

.line {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    margin-left: -5.2%;
    margin-top: 60%;
}

.line::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 79%;
    background-color: #FFFFFF;
    transform: rotate(-90deg);
    left: 40%;
    bottom: 7800%;
}







/* footer section*/

.footerhead {
    display: flex;
    justify-content: space-between;
    background-color: #090909;
    height: 150%;
}

.footeritems {
    align-items: center;
    justify-content: center;
    background-color: #090909;
    width: 10%;
    height: 150Px;

}

.footeritems h3 {
    color: #D9D9D9;
    font-size: 180%;
    font-family: 'Times New Roman', Times, serif;

}

footer ul {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    background-color: #090909;
    width: 80%;
}

footer a {
    font-size: 150%;
    color: #D9D9D9;
    justify-content: space-around;
    width: 10%;
}

li {
    display: inline-block;
}


.keyword {
    width: 15%;
    background-color: #090909;

}

.keyword h5 {
    color: #D9D9D9;
    font-size: 170%;
}